.preloader {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 5px solid #81b5de;
    border-top-color: #0962ad;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
